* {
    margin: 0px;
    padding: 0px;
    
}
.myBtn {
    width: 50px;
    height: 55px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(59, 25, 45);
    color: rgb(255, 248, 248);
    border: none;
}
.textview {
    width: 230px;
    height: 70px;
    margin: 5px;
    font-size: 35px;
    padding: 5px;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}
body {
    background-color: rgb(77, 77, 77);
}
